<!DOCTYPE html>
<html lang="en">
<head>
  <style>@font-face {font-family: "myFirstFont"; src: url ("/public/css/HARRYP__.TTF") format: ("TTF");
    font-weight: normal;} *
    {font-family: myFirstFont;} body {font-family: myFirstFont;}</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Hogwarts</title>
</head>
<body>
  <div style="text-align: center">
  <a href="/students">All student</a>
  <a href="/students/new">Create New Student</a>
  </div>



 <%= yield %>
</body>
</html>
